body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.universe {
  border: 4px solid white;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.planet-a,
.planet-b,
.planet-c,
.planet-d,
.planet-e {
  background-color: white;
  border: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.planet-a {
  left: 77px;
}
.planet-b {
  left: 372px;
  top: 100px;
}
.planet-c {
  left: -20px;
  top: 120px;
}
.planet-d {
  left: 100px;
}
.planet-e {
  left: 100px;
}

.subverse-a,
.subverse-b,
.subverse-c,
.subverse-d,
.subverse-e {
  border: 2px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: fixed;
}

.subverse-a {
  left: 10px;
  top: 10px;
}
.subverse-b {
  background-color: yellow;
}
.subverse-c {
  background-color: yellow;
}
.subverse-d {
  background-color: yellow;
}
.subverse-r {
  background-color: yellow;
}
